mixin project(index, title, year, desc, url, urltitle, imgsrc)
  - var even = index % 2 === 0
  div.eight.columns.project(class = even ? 'left-col' : 'right-col')
    div.four.columns.alpha.img(class = even ? 'push-by-four' : '')
      a(href="#{url}", rel="nofollow"): img(src="img/projects/#{imgsrc}", alt="Screenshot of #{urltitle}")
    div.four.columns.omega(class = even ? 'pull-by-four' : '')
      .desc
        h3 #{title}
        p
          span.yr #{year}
          br
          | #{desc}
          br
          br
          if urltitle != "Unreleased"
            a(href="#{url}", rel="nofollow") &raquo; #{urltitle}
          else
            | (#{urltitle})
